@import "compass_twitter_bootstrap_awesome";

#projectionable {
  //background: url(/images/low-contrast-linen-65.png) top left repeat;
  background-color: #eee;
  
  #footer {
    display: none;
  }
  
  & > div {
    @include clearfix();
  }
  
  .width-980 {
    width: 980px;
    margin: 0 auto;
  }
  
  #app-body {
    
    & > .main-stack {
      display: none;
      width: 980px;
      margin: 0 auto;
      min-height: 500px;
      padding: 0 20px;
      
      &.active {
        display: block;
      }
      
      &.home {
        
      }
      
      &.pricing {
        
      }
      
      &.work {
        & > div {
          display: none;
        
          &.active {
            display: block;
          }
        }
        
        .project-manager {
          width: 910px;
          margin: 0 auto;
          
          & > div {
            margin: 0;
            
            h2 {
              
            }
            
            .btn {
              margin: 15px 0;
            }
          }
          
          .project-list {
            list-style: none;
            margin: 0;
            
            & > li {
              margin: 10px 0;
              padding: 9px 19px;
              @include border-radius(10px);
              
              h3 {
                margin: 0;
              }
              
              .btn {
                margin: 5px 0 5px 10px;
              }
            }
          }
        }
        
        .project-editor {
          
          .title-row {
            @include clearfix();
            text-align: right;
            
            .editor-button-list {
              display: inline-block;
              list-style: none;
              padding-top: 16px;
              
              & > li {
                display: inline-block;
                margin-left: 5px;
              }
            }
          }
          
          .section-toggle-link-list {
            margin: 0;
            list-style: none;
            
            li {
              margin-right: 10px;
            }
          }
          
          .section-list {
            margin: 20px 0 0 0;
            list-style: none;
            @include clearfix();
          
            & > li {
              display: none;
              float: left;
              margin: 0 0 0 10px;
              background-color: #ddd;
              overflow: hidden;
              
              &.active {
                display: block;
                
                &.first {
                  margin: 0;
                }
              }
              
              &.quarter {
                width: 237px;
                
                .item-form-row, .group-form-row {
                  input, textarea { width: 200px; }
                  select { width: 104px; }
                }
                
                .group-form-row {
                  input { width: 212px; }
                  .group-method { width: 114px; }
                }
              }
              
              &.third {
                width: 319px;
                
                .item-form-row, .group-form-row {
                  input, textarea { width: 282px; }
                  select { width: 186px; }
                }
                
                .group-form-row {
                  input { width: 294px; }
                  .group-method { width: 196px; }
                }
              }
              
              &.half {
                width: 484px;
                
                .item-form-row, .group-form-row {
                  input, textarea { width: 447px; }
                  select { width: 351px; }
                }
                
                .group-form-row {
                  input { width: 459px; }
                  .group-method { width: 361px; }
                }
              }
              
              &.whole {
                width: 978px;
                
                .item-form-row, .group-form-row {
                  input, textarea { width: 694px; }
                  select { width: 598px; }
                }
                
                .group-form-row {
                  input { width: 706px; }
                  .group-method { width: 598px; }
                }
              }
               
              .section-header {
                background-color: #222;
                @include clearfix();
                padding: 5px 5px 5px 10px;
                
                & > h5 {
                  float: left;
                  margin: 0;
                  color: #ccc;
                }
                
                .new-button {
                  float: right;
                  padding: 1px 4px;
                }
              }
              
              .section-group-list {
                list-style: none;
                margin: 0;
                border: 1px solid #aaa;
                border-top-width: 0;
                
                & > li {
                  display: block;
                  margin: 0;
                  border-top: 1px solid #aaa;
                      
                  &.no-groups {
                    text-align: center;
                    padding: 5px;
                    
                    & > span {
                      font-size: 12px;
                      font-style: italic;
                    }
                  }
                  
                  .label {
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    padding: 2px 4px;
                    overflow: hidden;
                    @include border-radius(0);
                    
                    .text {
                      position: relative;
                      font-size: 10px;
                      font-weight: normal;
                      z-index: 10;
                    }
                    
                    .label-progress {
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 0;
                      background-color: green;
                      z-index: 9;
                    }
                  }
                  
                  .group-title-row {
                    @include clearfix();
                    padding: 5px 5px 0 5px;
                    
                    & > h5 {
                      float: left;
                      margin: 0;
                      padding-top: 2px;
                    }
                    
                    .group-stats {
                      padding-left: 10px;
                      
                      .btn-group {
                        display: inline-block;
                        
                        .btn-mini {
                          padding: 1px 4px;
                        }
                      }
                    }
                    
                  }
                  
                  .item-form-row,
                  .group-form-row {
                    @include clearfix();
                    
                    input,
                    textarea {
                      font-size: 12px;
                    }
                    
                    select {
                      float: left;
                      height: 26px;
                      font-size: 14px;
                    }
                
                    .inline-label {
                      float: left;
                      width: 95px;
                      margin: 0 10px 0 5px;
                      font-size: 12px;
                      font-weight: bold;
                      line-height: 28px;
                    }
                  }
                  
                  .group-button-row {
                    text-align: center;
                    margin: 7px 0;
                  }
                  
                  label.full-row-label {
                    display: block;
                    font-weight: bold;
                    font-size: 12px;
                    margin: 0;
                  }
                  
                  .group-edit-form {
                    display: none;
                    padding: 5px;
                    background-color: #bbb;
                    
                    .group-form-row {
                      
                      .group-cancel-button,
                      .group-save-button {
                        margin: 0 0 0 5px;
                      }
                    }
                  }
                  
                  .section-item-list {
                    margin: 5px 0 0 0;
                    background-color: #eee;
                    @include clearfix();
                    list-style: none;
                    border-top: 1px solid #aaa;
                    
                    & > li {
                      display: block;
                      margin: 0;
                      border-bottom: 1px solid #aaa;
                      
                      &:last-child {
                        border: none;
                      }
                      
                      &.no-items {
                        text-align: center;
                        
                        & > span {
                          font-size: 12px;
                          font-style: italic;
                        }
                      }
                      
                      .item-display {
                        padding: 0 0 3px 5px;
                        
                        &.approved {
                          background-color: #c1efbc;
                        }
                        
                        &.rejected {
                          background-color: #f3a398;
                        }
                        
                        & > span {
                          padding: 3px 3px 0 0;
                          font-size: 12px;
                          line-height: 28px;
                        }
                        
                        .action-block {
                          padding: 3px 5px 0 10px;
                          
                          .btn-group {
                            display: inline-block;
                            
                            .btn-mini {
                              padding: 1px 4px;
                            }
                          }
                        }
                      }
                      
                      .item-edit-form {
                        display: none;
                        padding: 0 0 3px 5px;
                        background-color: #bbb;
                        
                        .item-form-row {
                          
                          .item-hours-input {
                            float: left;
                            width: 90px;
                            height: 18px;
                            font-size: 14px;
                          }
                          
                          .item-cancel-button,
                          .item-save-button {
                            margin: 0 5px 2px 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          
          .collaborate-modal,
          .configure-modal {
            display: none;
          }
          
        }
      }
      
      &.settings {
        
      }
      
    }
  }
  
}