@import "compass_twitter_bootstrap_awesome";
@import "jquery-ui.css";

$lightGreen: #c1efbc;
$lightRed: #f3a398;
$darkGreen: #007e00;
$darkRed: #7e0000;

#projectionable {
  //background: url(/images/low-contrast-linen-65.png) top left repeat;
  background-color: #eee;
  
  #footer {
    display: none;
  }
  
  & > div {
    @include clearfix();
  }
  
  .width-980 {
    width: 980px;
    margin: 0 auto;
  }
  
  #app-body {
    
    & > .main-stack {
      display: none;
      width: 980px;
      margin: 0 auto;
      min-height: 500px;
      padding: 0 20px;
      
      &.active {
        display: block;
      }
      
      &.home {
        
      }
      
      &.pricing {
        
      }
      
      &.work {
        & > div {
          display: none;
        
          &.active {
            display: block;
          }
        }
        
        .project-manager {
          width: 910px;
          margin: 0 auto;
          
          & > div {
            margin: 0;
            
            h2 {
              
            }
            
            .btn {
              margin: 15px 0;
            }
          }
          
          .project-list {
            list-style: none;
            margin: 0;
            
            & > li {
              margin: 10px 0;
              padding: 9px 19px;
              @include border-radius(10px);
              
              h3 {
                margin: 0;
              }
              
              .btn {
                margin: 5px 0 5px 10px;
              }
              
              .data-section {
                display: inline-block;
                width: 28%;
                margin: 0 2.5%;
                padding-top: 10px;
                
                &:first-child {
                  margin: 0 5% 0 0;
                }
                
                &:last-child {
                  margin: 0 0 0 5%;
                }
                
                h6 {
                  float: left;
                  margin: 0;
                }
                
                .percent {
                  float: right;
                }
              }
            }
          }
        }
        
        .project-editor {
          
          .title-row {
            @include clearfix();
            text-align: right;
            
            .editor-button-list {
              display: inline-block;
              list-style: none;
              padding-top: 16px;
              
              & > li {
                display: inline-block;
                margin-left: 5px;
              }
            }
          }
          
          .section-toggle-link-list {
            margin: 0;
            list-style: none;
            
            li {
              margin-right: 10px;
            }
          }
          
          .section-list {
            margin: 20px 0 0 0;
            list-style: none;
            @include clearfix();
          
            & > li {
              display: none;
              float: left;
              margin: 0 0 0 10px;
              background-color: #ddd;
              overflow: hidden;
              
              &.active {
                display: block;
                
                &.first {
                  margin: 0;
                }
              }
              
              input,
              select {
                float: right;
              }
              
              .item-hours-worked-display {
                font-size: 12px;
                line-height: 30px;
                padding-left: 40px;
              }
              
              &.quarter {
                width: 237px;
                
                .item-form-row {
                  textarea { width: 210px; }
                  select { width: 155px; }
                  input { width: 50px; }
                  
                  .item-hours-worked-display {
                    padding-left: 30px;
                  }
                }
                
                .group-form-row {
                  input { width: 212px; }
                  .group-method { width: 114px; }
                }
              }
              
              &.third {
                width: 319px;
                
                .item-form-row {
                  textarea { width: 292px; }
                  select { width: 237px; }
                  input { width: 142px; }
                }
                
                .group-form-row {
                  input { width: 294px; }
                  .group-method { width: 196px; }
                }
              }
              
              &.half {
                width: 484px;
                
                .item-form-row {
                  textarea { width: 457px; }
                  select { width: 402px; }
                  input { width: 307px; }
                }
                
                .group-form-row {
                  input { width: 459px; }
                  .group-method { width: 361px; }
                }
              }
              
              &.whole {
                width: 978px;
                
                .item-form-row {
                  textarea { width: 950px; }
                  select { width: 870px; }
                  input { width: 750px; }
                }
                
                .group-form-row {
                  input { width: 706px; }
                  .group-method { width: 598px; }
                }
              }
               
              .section-header {
                background-color: #222;
                @include clearfix();
                padding: 5px 5px 5px 10px;
                
                & > h5 {
                  float: left;
                  margin: 0;
                  color: #ccc;
                }
                
                .new-button {
                  float: right;
                  padding: 1px 4px;
                }
              }
              
              .section-group-list {
                list-style: none;
                margin: 0;
                border: 1px solid #aaa;
                border-top-width: 0;
                
                & > li {
                  display: block;
                  margin: 0;
                  border-top: 1px solid #aaa;
                      
                  &.no-groups {
                    text-align: center;
                    padding: 5px;
                    
                    & > span {
                      font-size: 12px;
                      font-style: italic;
                    }
                  }
                  
                  .label {
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    padding: 2px 4px;
                    overflow: hidden;
                    @include border-radius(0);
                    
                    .text {
                      position: relative;
                      font-size: 10px;
                      font-weight: normal;
                      z-index: 11;
                    }
                    
                    .label-progress {
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 0;
                      background-color: $darkGreen;
                      z-index: 9;
                    }
                    
                    .label-danger {
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 0;
                      background-color: $darkRed;
                      z-index: 10;
                    }
                  }
                  
                  .group-title-row {
                    @include clearfix();
                    padding: 5px 5px 0 5px;
                    
                    & > h5 {
                      float: left;
                      margin: 0;
                      padding-top: 2px;
                    }
                    
                    .group-stats {
                      padding-left: 10px;
                      
                      .btn-group {
                        display: inline-block;
                        
                        .btn-mini {
                          padding: 1px 4px;
                        }
                      }
                    }
                    
                  }
                  
                  .item-form-row,
                  .group-form-row {
                    @include clearfix();
                    
                    input,
                    textarea,
                    select {
                      font-size: 12px;
                    }
                    
                    select {
                      height: 26px;
                    }
                
                    .inline-label {
                      float: left;
                      width: 55px;
                      margin: 0 10px 0 0;
                      font-size: 12px;
                      font-weight: bold;
                      line-height: 28px;
                    }
                    
                    .item-deliverable-input {
                      display: block;
                      position: fixed;
                      width: 1px;
                      height: 1px;
                      top: -100px;
                      left: -100px;
                    }
                    
                    .asset-upload-button {
                      margin: 1px 0 10px;
                      width: 91px;
                    }
                    
                    .item-cancel-button,
                    .item-save-button {
                      margin: 0 0 2px 5px;
                    }
                  }
                  
                  .group-button-row {
                    text-align: center;
                    margin: 7px 0;
                  }
                  
                  label.full-row-label {
                    display: block;
                    font-weight: bold;
                    font-size: 12px;
                    margin: 0;
                  }
                  
                  .group-edit-form {
                    display: none;
                    padding: 5px;
                    background-color: #bbb;
                    
                    .group-form-row {
                      
                      .group-cancel-button,
                      .group-save-button {
                        margin: 0 0 0 5px;
                      }
                    }
                  }
                  
                  .section-item-list {
                    margin: 5px 0 0 0;
                    background-color: #eee;
                    @include clearfix();
                    list-style: none;
                    border-top: 1px solid #aaa;
                    
                  }
                }
                
                .section-item {
                  display: block;
                  margin: 0;
                  border-bottom: 1px solid #aaa;
                  
                  &:last-child {
                    border: none;
                  }
                  
                  &.no-items {
                    text-align: center;
                    
                    & > span {
                      font-size: 12px;
                      font-style: italic;
                    }
                  }
                  
                  .item-display {
                    padding: 0 0 3px 5px;
                    
                    &.approved {
                      background-color: $lightGreen;
                    }
                    
                    &.rejected {
                      background-color: $lightRed;
                    }
                    
                    & > span {
                      padding: 3px 3px 0 0;
                      font-size: 12px;
                      line-height: 28px;
                    }
                    
                    .action-block {
                      padding: 3px 5px 0 10px;
                      
                      .btn-group {
                        display: inline-block;
                        
                        .btn-mini {
                          padding: 1px 4px;
                        }
                      }
                    }
                  }
                  
                  .item-edit-form {
                    display: none;
                    padding: 0 0 3px 5px;
                    
                    .item-form-row {
                      
                      select,
                      input,
                      .item-save-button {
                        margin-right: 5px;
                      }
                      
                      .item-hours-input {
                        height: 18px;
                      }
                      
                      .item-file-row {
                        @include clearfix();
                        margin: 0 5px 5px 0;
                        padding: 5px 0;
                        border: 1px solid #ddd;
                        
                        .item-file-link {
                          font-size: 12px;
                          
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          
          #reports-modal {
            width: 800px;
            margin-left: -400px;
          }
          
          #collaborate-modal {
            width: 700px;
            margin-left: -350px;
            
            .modal-body {
              
              .half {
                float: left;
                width: 312px;
                @include clearfix();
                
                &:first-child {
                  border-right: 1px solid #eee;
                  padding-right: 15px;
                }
                
                &:last-child {
                  box-shadow: 1px 0 2px -1px white inset;
                  padding-left: 15px;
                }
                
                h4 {
                  margin: 0 0 10px 0;
                }
                
                & > ul {
                  list-style: none;
                  margin: 0;
                  height: 200px;
                  overflow-x: hidden;
                  overflow-y: scroll;
                  border: 1px solid #aaa;
                  background-color: #eee;
                  box-shadow: 0 2px 7px -3px black inset;
                  padding: 5px;
                  @include clearfix();
                  
                  .permission {
                    border: 1px solid #aaa;
                    padding: 5px 5px 5px 10px;
                    text-align: left;
                    border-radius: 5px;
                    margin: 0 0 5px 0;
                    background-color: white;
                    box-shadow: 0 2px 5px -3px black;
                    @include clearfix();
                    
                    h5 {
                      margin: 0;
                      float: left;
                      line-height: 26px;
                      width: 221px;
                    }
                    
                    .remove-link {
                      float: right;
                      padding: 1px 4px;
                      margin-top: 2px;
                    }
                    
                    &.empty {
                      padding: 8px 10px;
                      font-size: 12px;
                    }
                  }
                }
                
                .new-permission-row {
                  margin-top: 10px;
                  text-align: right;
                  
                  input {
                    float: left;
                    font-size: 12px;
                    line-height: 16px;
                    width: 240px;
                  }
                  
                  .invite-button {
                    margin-top: 2px;
                  }
                }
              }
            }
          }
          
          .configure-modal {
            .modal-body {
              .modal-row {
                @include clearfix();
                margin: 0;
                padding: 10px 0;
                
                & > label {
                  display: inline-block;
                  float: left;
                  width: 150px;
                  font-size: 14px;
                  line-height: 30px;
                  font-weight: bold;
                }
                
                & > .modal-input-wrapper {
                  float: left;
                  width: 350px;
                  
                  input {
                    width: 270px;
                  }
                  
                  .project-title-input {
                    width: 327px;
                  }
                  
                  .add-on-text {
                    font-size: 11px;
                  }
                  
                  .project-start-input,
                  .project-deadline-input {
                    width: 90px;
                  }
                }
                
                &.timeline-row  > .modal-input-wrapper {
                  width: 180px;
                }
              }
            }
          }
          
        }
      }
      
      &.settings {
        
      }
      
    }
  }
  
}