
<div id="collaborate-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Collaborate</h3>
  </div>
  <div class="modal-body">
    
    <div class='half'>
      <h4>Coworkers</h4>
      <ul class='coworker-list'></ul>
      
      <div class='new-permission-row'>
        <input class="coworker-input" type='text' placeholder='New coworker email address...' />
        <a href='#' class='btn btn-small btn-primary disabled invite-button invite-coworker-button'>Invite</a>
      </div>
    </div>
    
    <div class='half'>
      <h4>Clients</h4>
      <ul class='client-list'></ul>
      
      <div class='new-permission-row'>
        <input class="client-input" type='text' placeholder='New client email address...' />
        <a href='#' class='btn btn-small btn-primary disabled invite-button invite-client-button'>Invite</a>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
