
<div class="item-display">
  <div class='action-block pull-right'>
    <div class='btn-group'>
      <a href='#' class='btn btn-mini item-edit-button'>
        <i class='icon-pencil'></i>
      </a>
    </div>

  </div>
  <span>
    <a href="<%= item.asset_url %>" target='_blank' class='item-file-link pull-left'><%= filename %></a>
  </span>
</div>

<div class='item-edit-form'>
  <div class='item-form-row'>
    <label class='full-row-label'>File</label>
    <input type='file' class='item-deliverable-input' />
    <% if (filename !== '') { %>
    <div class='item-file-row'>
      <a href="<%= item.asset_url %>" target='_blank' class='item-file-link pull-left'><%= filename %></a>
      <div class='dropdown pull-right'>
        <a href='#' class='btn btn-mini btn-primary' data-toggle='dropdown'>
          <i class='icon-wrench'></i>
        </a>
        <ul class='dropdown-menu' role="menu">
          <li><a href="<%= item.asset_url %>" target='_blank' tabindex="-1">Download file</a></li>
          <li class="divider"></li>
          <li><a href='#' tabindex="-1" class='asset-replace-link'>Upload new file</a></li>
          <li><a href='#' tabindex="-1" class='asset-delete-link'>Delete file</a></li>
        </ul>
      </div>
    </div>
    <% } else { %>
    <div class='clearfix' style='text-align: center;'>
      <a href='#' class='btn btn-small btn-primary asset-upload-button'>Upload File</a>
    </div>
    <% } %>
  </div>
  <div class='item-form-row'>
    <a href='#' class='btn btn-mini btn-danger item-delete-button pull-left'>Delete</a>
    <a href='#' class='btn btn-mini btn-success item-save-button pull-right'>Save</a>
    <a href='#' class='btn btn-mini item-cancel-button pull-right'>Cancel</a>
  </div>
</div>
