
<div class="item-display <%= ['approved', 'rejected'].indexOf(item.status) > -1 ? item.status : '' %>">
  <div class='action-block pull-right'>
    <% var percent = parseInt(parseInt(item.hours_worked, 10) / parseInt(item.hours, 10) * 100); %>
    <span class='label'>
      <span class='text'><%= isNaN(percent) ? '0%' : percent + '%' %></span>
      <span class='label-progress item-progress' data-percent="<%= percent %>"></span>
      <span class='label-danger item-danger' data-percent="<%= percent %>"></span>
    </span>
    <div class='btn-group'>
      <a href='#' class='btn btn-mini item-edit-button'>
        <i class='icon-pencil'></i>
      </a>
      <% if (item.status === 'pending') { %>
        <a href='#' class='btn btn-mini btn-info item-start-button'>
          <i class='icon-play'></i>
        </a>
      <% } else if (item.status === 'working') { %>
        <a href='#' class='btn btn-mini btn-info item-pause-button'>
          <i class='icon-pause'></i>
        </a>
        <a href='#' class='btn btn-mini btn-success item-finish-button'>
          <i class='icon-check'></i>
        </a>
      <% } else if (item.status === 'complete') { %>
        <a href='#' class='btn btn-mini btn-danger item-reject-button'>
          <i class='icon-thumbs-down'></i>
        </a>
        <a href='#' class='btn btn-mini btn-success item-approve-button'>
          <i class='icon-thumbs-up'></i>
        </a>
      <% } else if (item.status === 'rejected') { %>
        <a href='#' class='btn btn-mini btn-primary item-revert-button'>
          <i class='icon-refresh'></i>
        </a>
      <% } %>
    </div>

  </div>
  <span><%= item.title %></span>
</div>

<div class='item-edit-form'>
  <div class='item-form-row'>
    <label class='full-row-label'>Title</label>
    <div class='input-wrapper'>
      <textarea class='item-title'><%= item.title %></textarea>
    </div>
  </div>
  <div class='item-form-row'>
    <label class='full-row-label'>Deliverable</label>
    <input type='file' class='item-deliverable-input' />
    <% if (filename !== '') { %>
    <div class='item-file-row'>
      <a href="<%= item.asset_url %>" target='_blank' class='item-file-link pull-left'><%= filename %></a>
      <div class='dropdown pull-right'>
        <a href='#' class='btn btn-mini' data-toggle='dropdown'>
          <i class='icon-cog'></i>
        </a>
        <ul class='dropdown-menu' role="menu">
          <li><a href="<%= item.asset_url %>" target='_blank' tabindex="-1">Download file</a></li>
          <li class="divider"></li>
          <li><a href='#' tabindex="-1" class='asset-replace-link'>Upload new file</a></li>
          <li><a href='#' tabindex="-1" class='asset-delete-link'>Delete file</a></li>
        </ul>
      </div>
    </div>
    <% } else { %>
    <div class='clearfix' style='text-align: center;'>
      <a href='#' class='btn btn-small btn-primary asset-upload-button'>Upload File</a>
    </div>
    <% } %>
  </div>
  <div class='item-form-row'>
    <label class='inline-label'>Hours</label>
    <span class='item-hours-worked-display'><b><%= item.hours_worked %>h</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</span>
    <input type='text' class='item-hours-input' value="<%= item.hours %>" />
  </div>
  <div class='item-form-row'>
    <label class='inline-label'>Status</label>
    <select class='item-status-select'>
      <% _.each(['pending', 'working', 'complete', 'rejected', 'approved'], function (s) { %>
        <option value="<%= s %>" <%= s === item.status ? "selected='selected'" : "" %>><%= s.substr(0, 1).toUpperCase() + s.substr(1, s.length) %></option>
      <% }); %>
    </select>
  </div>
  <div class='item-form-row'>
    <label class='inline-label'>Notify</label>
    <select class='item-requester-select'>
      <option value=''>-- No one --</option>
      <% _.each(permissions, function (p) { %>
        <option value="<%= p.account_id %>" <%= item.requester_id === p.account_id ? "selected='selected'" : "" %>><%= p.email %></option>
      <% }); %>
    </select>
  </div>
  <div class='item-form-row'>
    <a href='#' class='btn btn-mini btn-danger item-delete-button pull-left'>Delete</a>
    <a href='#' class='btn btn-mini btn-success item-save-button pull-right'>Save</a>
    <a href='#' class='btn btn-mini item-cancel-button pull-right'>Cancel</a>
  </div>
</div>
