
<div class='group-title-row clearfix'>
  <% if (key === 'front') { %>
    <h5><%= group.title %></h5>
  <% } else if (key === 'back') { %>
    <h5><%= group.method %>&nbsp;<%= group.uri %></h5>
  <% } %>
  <div class='group-stats pull-right'>
    <% var percent = parseInt(parseInt(group.hours_worked, 10) / parseInt(group.hours, 10) * 100); %>
    <span class='label'>
      <span class='text'><%= isNaN(percent) ? '0%' : percent + '%' %></span>
      <span class='label-progress group-progress' data-percent="<%= percent %>"></span>
      <span class='label-danger group-danger' data-percent="<%= percent %>"></span>
    </span>
    <div class='btn-group'>
      <a href='#' class='btn btn-mini group-edit-button'>
        <i class='icon-pencil'></i>
      </a>
      <a href='#' class='btn btn-primary btn-mini new-item-button'><i class='icon-plus'></i></a>
    </div>

  </div>
  
</div>

<ul class='section-item-list'></ul>

<div class='group-edit-form'>
  <% if (key === 'front') { %>
    <div class='group-form-row'>
      <label class='full-row-label'>View Title</label>
      <div class='input-wrapper'>
        <input type='text' class='group-title' value="<%= group.title %>" />
      </div>
    </div>
  <% } else if (key === 'back') { %>
    <div class='group-form-row'>
      <label class='full-row-label'>API Endpoint</label>
      <div class='input-wrapper'>
        <input type='text' class='group-uri' value="<%= group.uri %>" />
      </div>
    </div>
    <div class='group-form-row'>
      <label class='inline-label'>Request Method</label>
      <select class='group-method'>
        <% _.each(['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS', 'HEAD'], function (method) { %>
          <option value="<%= method %>"><%= method %></option>
        <% }); %>
      </select>
    </div>
  <% } %>
  <div class='group-form-row'>
    <a href='#' class='btn btn-mini btn-danger group-delete-button pull-left'>Delete</a>
    <a href='#' class='btn btn-mini btn-success group-save-button pull-right'>Save</a>
    <a href='#' class='btn btn-mini group-cancel-button pull-right'>Cancel</a>
  </div>
</div>
