
<div class='settings-wrapper clearfix'>
  <div class='settings-liner clearfix'>
    <ul class='settings-tabs'>
      <li><a href='#/settings/credentials' class='credentials-link'>Account Credentials</a></li>
      <li><a href='#/settings/terminate' class='terminate-link'>Terminate Account</a></li>
    </ul>
    <div class='settings-content'></div>
  </div>
</div>