
<div class='settings-form'>
  
  <div class='settings-title-row clearfix'>
    
    <div class='input-section'>
      <h2>Choose when to receive email notifications</h2>
    </div>
    
    <div class='input-section'>
      
    </div>
    
  </div>
  <ul class='settings-notifications-list'>
    
    
    
  </ul>
</div>


