
<div class='clearfix'>
  
  <h3 class='pull-left'>
    <a href="#/projects/<%= project.id %>"><%= project.title %></a>
  </h3>
  
  <a href="#/projects/<%= project.id %>" class='btn btn-info pull-right load-project-button'>Load Project</a>
  
  <div class='dropdown options-dropdown pull-right'>
    <a href='#' class='btn options-button dropdown-toggle' data-toggle='dropdown'>
      <i class='icon-wrench'></i>
      <i class='caret'></i>
    </a>
    
    <ul class='dropdown-menu options-menu' role="menu">
      <li><a href='#' class='edit-title-link' tabindex="-1">Rename this project</a></li>
      <li class="divider"></li>
      <li><a href='#' tabindex="-1" class='delete' data-id='<%= project.id %>'>Delete this project</a></li>
    </ul>
  </div>
  
</div>
  
<div class='clearfix'>
  
  <h6>Data goes here</h6>
  
</div>
