
<li class='work-manager-no-previews clearfix'>
  <div class='work-manager-no-previews-liner clearfix'>
    <span>No projects yet. Click "New Project" in the upper right to start one.</span>
  </div>
</li>