
<div class='manager-header clearfix'>

  <h2 class="page-title">All Projects</h2>
  
  <a href="#" class='btn btn-primary new-project-button'>New Project</a>
  
</div>

<ul class='manager-projects clearfix'></ul>

