
<div class='settings-form'>
  
  <div class='settings-title-row clearfix'>
    <div class='input-section'>
      <h2>Terminate Account</h2>
    </div>
    
    <div class='input-section'>
      <span class='settings-form-msg terminate-message'></span>
    </div>
  </div>
  <div class='settings-form-row clearfix'>
    
    <div class='input-section'>
      <span class='input-label'>Password</span>
      <div class='edit-block'>
        <input type='password' class='edit-input terminate-password-input' />
        <i class='edit-icon icon-pencil'></i>
      </div>
    </div>
    
    <div class='settings-button-wrapper terminate-wrapper'>
      <a href='#' tabindex='-1' class='btn btn-danger btn-small disabled terminate-button' data-loading-text="Loading..." autocomplete='off'>Terminate Account</a>
    </div>
    
  </div>
</div>




