
<h1><a href='#/home'>Projectionable</a></h1>

<ul>
  <li><a href='#/home'>Home</a></li>
  <% if (parseInt(window.sessionID) > 0) { %>
  <li><a href="#/settings">Settings</a></li>
  <li><a href="#/signout">Sign Out</a></li>
  <% } else { %>
  <li><a href="#/signup">Sign Up</a></li>
  <li><a href="#/signin">Sign In</a></li>
  <% } %>
</ul>

