
<div id='navigation' class='clearfix'></div>
<div id='home' class='clearfix'></div>
<div id='pricing' class='clearfix'></div>
<div id='learn' class='clearfix'></div>
<div id='signin' class='clearfix'></div>
<div id='signup' class='clearfix'></div>
<div id='work' class='clearfix'></div>
<div id='settings'></div>
<div id='footer' class='clearfix'></div>
<div id='contact'></div>

