{% extends 'base.html' %}

{% block style %}
    <link type='text/less' rel='stylesheet' href='{{ static_url }}css/work.less' />
    <link type='text/less' rel='stylesheet' href='{{ static_url }}css/settings.less' />
{% endblock %}

{% block app %}
<!--
<div id='stripe-button-container'>
  <div class='button-wrapper'>
    <script class="stripe-button"
      src="https://button.stripe.com/v1/button.js"
      data-amount="3899"
      data-key="pk_test_oPt8sOBWac1EKqxlNsz33csn"></script>
    <a href='#' class='btn btn-primary enable-client-button'>Enable Client Approval</a>
  </div>
</div>
-->
<div id="projectionable" class='clearfix'></div>
{% endblock %}

{% block js %}
  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36414585-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
    {% if valid_session %}
      window.sessionID = parseInt('{{ user_id }}');
    {% else %}
      window.sessionID = null;
    {% endif %}
  </script>
  <script type='text/javascript' src='{{ static_url }}js/projectionable.js'></script>
{% endblock %}

