{% extends 'base.html' %}

{% block style %}
    <link type='text/less' rel='stylesheet' href='{{ static_url }}css/work.less' />
    <link type='text/less' rel='stylesheet' href='{{ static_url }}css/settings.less' />
{% endblock %}

{% block app %}
<div id='stripe-button-container'>
  <div class='button-wrapper'>
    <!--
    <script class="stripe-button"
      src="https://button.stripe.com/v1/button.js"
      data-amount="3899"
      data-key="pk_test_oPt8sOBWac1EKqxlNsz33csn"></script>
    -->
    <a href='#' class='btn btn-primary enable-client-button'>Enable Client Approval</a>
  </div>
</div>
<div id="projectionable" class='clearfix'></div>
{% endblock %}

{% block js %}
  <script type='text/javascript'>
    {% if valid_session %}
      window.sessionID = parseInt('{{ user_id }}');
    {% else %}
      window.sessionID = null;
    {% endif %}
  </script>
  <script type='text/javascript' src='{{ static_url }}js/projectionable.js'></script>
{% endblock %}

