{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block app %}
<div id='projectionable'>
  {% include 'header.html' %}
  
  <div id='content' class='clearfix'>
    
    <div class='proj-form-wrapper clearfix contact-form'>
      <div class="proj-form">
        <div class='proj-form-head'>
          <h2>Contact Us</h2>
        </div>
        <div class='proj-form-body'>
          <div class="alert"><span></span></div>
          <input type="text" id='reply-to' placeholder='Reply-To Email Address...' />
          <input type="text" id='subject' placeholder='Subject of communication...' />
          <textarea id='message' placeholder='Message body...'></textarea>
          <div class="button-row clearfix">
            <a href='#' class="btn btn-primary submit-button" data-loading-text="Loading..." autocomplete='off'>Submit</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  {% include 'footer.html' %}
</div>
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{{ static_url }}js/contact.js'></script>
{% endblock %}