{% extends 'base_email.html' %}

{% block body %}
  <p>Welcome to {{ site_name }}.</p>
  <p>You've been invited by another user to see their project. All you
      need to do now is click on the link below to verify this email address, and then
      set a password for your account.</p>
  <p>
    <a href='{{url}}verify_invitation/?account_id={{account_id}}&code={{code}}'
      target='_blank' style='color:#222;font-weight:bold;'>
        {{url}}verify_invitation/?account_id={{account_id}}&code={{code}}
    </a>
  </p>
  <p>If you're receiving this email in error, then don't worry: you can just ignore it and we won't
      bother you again.</p>
{% endblock %}

{% block footer %}
  
{% endblock %}