{% extends 'base_email.html' %}

{% block body %}
  <p>We just received your request to reset your password. Please click on
    the link below to set a new password for your account.</p>
  <p>
    <a href='{{url}}reset_password/?account_id={{account_id}}&code={{code}}'
      target='_blank' style='color:#222;font-weight:bold;'>
        {{url}}reset_password/?account_id={{account_id}}&code={{code}}
    </a>
  </p>
  <p>If you're receiving this email in error, then don't worry: you can just ignore it and we won't
    bother you again.</p>
{% endblock %}

{% block footer %}
  
{% endblock %}