{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block app %}
<div id='projectionable'>
  {% include 'header.html' %}
  
  <div id='content' class='clearfix'>
    
    <div class='copy'>
      
      <h2>Privacy Policy</h2>
      
      <p>{{ company }} (“Projectionable”) is committed to protecting your privacy. We have prepared
        this Privacy Policy to describe to you our practices regarding the Application Data and
        Personal Data (each as defined below) that we collect from users of our website
        (located at {{ site_url }}), purchasers of paid services through the website (the “Products”),
        or related services. This Privacy Policy is incorporated into,
        and considered a part of, the Projectionable Terms of Service, currently located at
        <a href='{{ site_url }}terms'>{{ site_url }}terms</a>.</p>
      
      <p>This Privacy Policy covers our collection, use and disclosure of information we collect through
        our website {{ site_url }}.</p>
      
      <h3>User Consent</h3>
      
      <p>By submitting or making available Application Data or Personal Data through our website or
        related services, you agree to the terms of this Privacy Policy and you expressly consent to
        the processing of your Application Data and Personal Data in accordance with this Privacy Policy.
        Your Personal Data may be processed in the country in which it was collected and in other countries,
        including the United States, where laws regarding processing of Personal Data may be less stringent
        than the laws in your country.</p>
      
      <h3>A Note About Children</h3>
      
      <p>We do not intentionally gather Personal Data about visitors who are under the age of 13.</p>
      
      <h3>Types of Data We Collect</h3>
      
      <p>Projectionable collects Personal Data and Anonymous Data from you when you visit our site
        and/or when you send us information or communications. “Personal Data” means data that allows
        someone to identify or contact you, including, for example, your name, phone number, zip code,
        and e-mail address. “Anonymous Data” means data about you that is not associated with or linked
        to your Personal Data (but does not include Application Data, which is covered later in this Privacy
        Policy); Anonymous Data does not permit the identification of individual persons. We collect
        Personal Data and Anonymous Data, as described below.</p>
      
      <h3>Personal Data You Provide to Us</h3>
      
      <p>We collect Personal Data from you, such as first and last name, phone number, zip code, e-mail,
        professional title, company name, and password, when you purchase Products, register to receive
        information, or post a comment on our blog. In addition, we (or our third-party credit card or
        payment processor on our behalf) will collect Personal Data including your credit card number or
        account information when you purchase Products or services on our website. We also retain information
        on your behalf, such as the Personal Data described above and any correspondence or blog comments.
        If you provide us feedback or contact us via e-mail (e.g., in response to an employment opportunity
        posted on our website), we will collect your name and e-mail address, as well as any other content
        included in the e-mail, in order to send you a reply, and any information that you submit to us,
        such as a resume. When you participate in one of our surveys, we may collect additional profile
        information such as your name, phone number, address, and e-mail address. When you post comments on
        our blog, the information contained in your posting will be stored on our servers and other users
        will be able to see it. To request removal of your personal information from our blog or community
        forum, contact us through our online form at
        <a href='{{ site_url }}contact'>{{ site_url }}contact</a>. In some cases, we may not be able
        to remove your personal information, in which case we will let you know if we are unable to do so and
        why. We also collect other types of Personal Data that you provide to us voluntarily, such as
        requested information if you contact us via e-mail regarding support for the Products). We may also
        collect Personal Data at other points in our website that state that Personal Data is being collected.</p>
      
      <h3>Personal Data Collected via Technology</h3>
      
      <p>To make our website, Products, and related services more useful to you, our servers (which may be
        hosted by a third-party service provider) collect Personal Data from you, such as browser type,
        operating system, Internet Protocol (IP) address (a number that is automatically assigned to your
        computer when you use the Internet, which may vary from session to session), domain name, and/or
        a date/time stamp for your visit. We may also use Cookies (as defined below) and navigational data
        like Uniform Resource Locators (URL) to gather information regarding the date and time of your visit
        and the solutions and information for which you searched and which you viewed. Like most Internet
        services, we automatically gather this Personal Data and store it in log files each time you visit
        our website or access your account on our network.</p>
      
      <p><b>“Cookies”</b> are small pieces of information that a website sends to your computer’s hard drive
        while you are viewing a web site. We link the information we store in cookies to the personally
        identifiable information you submit while on our site. We may use both session Cookies (which
        expire once you close your web browser) and persistent Cookies (which stay on your computer until
        you delete them) to provide you with a more personal and interactive experience on our website.
        Persistent Cookies can be removed by following Internet browser help file directions. If you
        choose to disable Cookies, some areas of our website may not work properly.</p>
      
      <p>The use of cookies by our partners, affiliates, tracking utility company, service providers is not
        covered by our privacy statement. We do not have access or control over these cookies. Our partners,
        affiliates, tracking utility company, service providers use session ID cookies to improve the quality
        of experience when you interact with our website, Products, and related services.</p>
      
      <p>Our third party advertising partner employs a software technology called clear gifs
        (a.k.a. Web Beacons/Web Bugs), that help us better manage content on our site by informing us
        what content is effective. Clear gifs are tiny graphics with a unique identifier, similar
        in function to cookies, and are used to track the online movements of Web users. In contrast
        to cookies, which are stored on a user’s computer hard drive, clear gifs are embedded invisibly
        on Web pages and are about the size of the period at the end of this sentence. We tie the
        information gathered by clear gifs to our customers’ personally identifiable information.</p>
      
      <p>We use clear gifs in our HTML-based emails to let us know which emails have been opened by
        recipients. This allows us to gauge the effectiveness of certain communications and the
        effectiveness of our marketing campaigns.</p>
      
      <p>We use local shared objects, also known as Flash cookies, to serve you video content.
        Third Parties, with whom we partner to provide these features on our site, use Flash cookies
        to collect and store information.</p>
      
      <p>Flash cookies are different from browser cookies because of the amount of, type of, and how
        data is stored. Cookie management tools provided by your browser will not remove Flash cookies.
        To learn how to manage privacy and storage settings for Flash cookies
        <a target="_blank" href='http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager.html#117118'>click here</a>.</p>
      
      <h3>Personal Data Collected by Third Parties</h3>
      
      <p>We may receive Personal Data about you from other sources like telephone or fax, from
        companies that provide our Products or services by way of a co-branded or private-labeled
        website, companies that offer their products and/or services on our website, or companies
        that provide services (such as payment processing services) in connection with our website
        (“Partner Companies”). Our Partner Companies may supply us with Personal Data, such as your
        name and e-mail and mailing address information, in order to help us establish the account
        or fulfill orders.</p>
      
      <p>Except as otherwise expressly provided in this Privacy Policy, only Projectionable collects
        Personal Data through our website, Products, or the related services provided solely by
        Projectionable. This Privacy Policy applies only to the use and disclosure of Personal Data
        that we collect while you use our website, Products, or related services.</p>
      
      <p>Our provision of a link to any other website or location is for your convenience and does not
        signify our endorsement of such other website or location or its contents. When you click on such
        a link, you will leave our site and go to another site. During this process, a third party may
        collect Personal Data or Anonymous Data from you.</p>
      
      <p>We have no control over, do not review, and cannot be responsible for, these outside websites
        or their content. Please be aware that the terms of this Privacy Policy do not apply to these
        outside websites or content, or to any collection of data after you click on a link to a third party.
        We encourage you to carefully read the privacy statement of any Web site you visit.</p>
      
      <h3>Use of Your Personal Data</h3>
      
      <p>In general, Personal Data you submit to us is used either to respond to requests that you make,
        or to aid us in serving you better. Projectionable uses your Personal Data in the following ways:
        to facilitate the creation of and secure your account on our network; identify you as a user
        in our system; provide improved administration of our website, Products, and related services;
        improve the quality of experience when you interact with our website, Products, and related
        services; send you a welcome e-mail to verify ownership of the e-mail address provided when
        your account was created; send you administrative e-mail notifications, such as security or
        support and maintenance advisories; respond to your inquiries related to employment
        opportunities or other requests; send promotional communications; provide you with hardcopy
        or electronic newsletters, or surveys; send upgrades and special offers related to our Products
        and related services and for other marketing purposes of Projectionablec, should you request
        to receive such communications from us; make telephone calls to you, from time to time, as a
        part of secondary fraud protection or to solicit your feedback.</p>
      
      <p>We may create Anonymous Data records from Personal Data by excluding information
        (such as your name) that make the data personally identifiable to you. We use this Anonymous
        Data to analyze request and usage patterns so that we may enhance the content of our Products
        and services and improve site navigation. Projectionable reserves the right to use for other
        purposes and to disclose Anonymous Data to third parties in its discretion.</p>
      
      <p>If you provide feedback on any of our Products or related services to us, we may use such
        feedback for any purpose, provided we will not associate such feedback with your Application
        Data or your Personal Data. Projectionable will collect any information contained in such
        communication and will treat the Application Data and Personal Data in such communication
        in accordance with this Privacy Policy.</p>
      
      <h3>Disclosure of Your Personal Data</h3>
      
      <p>We may share your Personal Data with third parties to provide technical support or to provide
        specific services, such as hosting data any data, communicating with you via live chat software
        or payment processing for purchases.</p>
      
      <p>Regardless of any choices you make regarding your Personal Data (as described below),
        Projectionable may disclose Personal Data if it believes in good faith that such disclosure is
        necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on
        Projectionable; or (b) protect or defend the rights or property of Projectionable or users of the
        Products or related services.</p>
      
      <p>If Projectionable is involved in a merger, acquisition, or sale of all or a portion of its assets,
        you will be notified via email and/or a prominent notice on our Web site of any change in
        ownership or uses of your personal information, as well as any choices you may have regarding
        your personal information.</p>
      
      <p>Except as otherwise stated in this policy, we do not sell, trade, share, or rent the Personal
        Data collected from our services to third parties other than as outlined in this policy. You
        expressly consent to the sharing of your Personal Data as described in this policy.</p>
      
      <h3>Your Choices Regarding Your Personal Data</h3>
      
      <p>We offer you choices regarding the collection, use, and sharing of your Personal Data. We will
        periodically send you free newsletters and e-mails that directly promote the use of our site or
        the purchase of our Products or services. When you receive newsletters or promotional communications
        from us, you may indicate a preference to stop receiving further communications from us and you will
        have the opportunity to “opt-out” by following the unsubscribe instructions provided in the e-mail
        you receive or by contacting us directly through our contact form at
        <a href='{{ site_url }}contact'>{{ site_url }}contact</a>. Should you decide
        to opt-out of receiving future mailings, we may share your e-mail address with third parties to ensure
        that you do not receive further communications from third parties. Despite your indicated e-mail
        preferences, we may send you notices of any updates to our Terms of Service or Privacy Policy.</p>

      <p>You may change any of your Personal Data in your account by editing it within the
        settings section of our website. You may delete of your account in the settings section of the website,
        as well, but please note that we may be required (by law or otherwise) to keep this information and
        not delete it (or to keep this information for a certain time, in which case we will comply with
        your deletion request only after we have fulfilled such requirements). When we delete account
        information, it will be deleted from the active database, but may remain in our archives. We will
        otherwise retain your information for as long as your account is active or as needed to provide
        you services as well as is necessary to comply with our legal obligations, resolve disputes, and
        enforce our agreements.</p>
      
      <h3>Advertising</h3>
      
      <p>We partner with a third party ad network to either display advertising on our Web site or to manage
        our advertising on other sites. Our ad network partner uses cookies and Web beacons to collect
        non-personally identifiable information about your activities on this and other Web sites to
        provide you targeted advertising based upon your interests. If you wish to not have this information
        used for the purpose of serving you targeted ads, you may opt-out by clicking
        <a target="_blank" href="http://preferences-mgr.truste.com/">here</a>.</p>

      <p>Please note this does not opt you out of being served advertising. You will continue to
        receive generic ads.</p>
      
      <h3>Testimonials</h3>
      
      <p>We post customer testimonials on our web site which may contain personally identifiable information.
        We do obtain the customer's consent via email prior to posting the testimonial to post their name
        along with their testimonial. If you want your testimonial removed please contact us through our
        contact form at <a href='{{ site_url }}contact'>{{ site_url }}contact</a>.</p>
      
      <h3>Social Media Features and Widgets</h3>
      
      <p>Our Web site includes Social Media Features, such as the Facebook Like button and Widgets, such as
        the Share this button or interactive mini-programs that run on our site. These Features may collect
        your IP address, which page you are visiting on our site, and may set a cookie to enable the
        Feature to function properly. Social Media Features and Widgets are either hosted by a third party
        or hosted directly on our Site. Your interactions with these Features are governed by the privacy
        policy of the company providing it.</p>
      
      <h3>Security of Your Data</h3>
      
      <p>Projectionable is committed to protecting the security of your data. We use a variety of
        industry-standard security technologies and procedures to help protect your data from
        unauthorized access, use, or disclosure. When you enter sensitive information (such as a
        credit card number) on our order forms, we encrypt the transmission of that information using
        secure socket layer technology (SSL). We also require you to enter a password to access your account
        information. Please do not disclose your account password to unauthorized people. Despite
        these measures, you should know that Projectionable cannot fully eliminate security risks
        associated with data, and mistakes and security breaches may happen. If you have any questions
        about security on our website, you can contact us through our contact form at
        <a href='{{ site_url }}contact'>{{ site_url }}contact</a>.</p>
      
      <h3>Changes to This Privacy Policy</h3>
      
      <p>This Privacy Policy is subject to occasional revision, and if we make any substantial changes in
        the way we use your data, we will notify you by sending you an e-mail to the last e-mail address
        you provided to us and/or by prominently posting notice of the changes on our website. Any material
        changes to this Privacy Policy will be effective upon the earlier of thirty (30) calendar days following
        our dispatch of an e-mail notice to you of the changes, thirty (30) calendar days following our
        posting of notice of the changes on our site, or the date that you accept the changes
        (e.g., by clicking an “I Accept” button or similar means). These changes will be effective immediately
        for new users of our website, Products or related services. Please note that at all times you are
        responsible for updating your Personal Data to provide us with your most current e-mail address.
        In the event that the last e-mail address that you have provided us is not valid, or for any reason
        is not capable of delivering to you the notice described above, our dispatch of the e-mail containing
        such notice will nonetheless constitute effective notice of the changes described in the notice.
        In any event, changes to this Privacy Policy may affect our use of data that you provided us prior to
        our notification to you of the changes. If you do not wish to permit changes in our use of your
        data, you must notify us prior to the effective date of the changes that you wish to deactivate
        your account with us. Continued use of our website, Products, or related services, following
        notice of such changes shall indicate your acknowledgement of such changes and agreement to be
        bound by the terms and conditions of such changes.</p>
      
      <p>This Privacy Policy was last revised on November 15, 2012.</p>
      
    </div>
    
  </div>
  
  {% include 'footer.html' %}
</div>
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{{ static_url }}js/verify_invitation.js'></script>
{% endblock %}