{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block app %}
<div id='projectionable'>
  {% include 'header.html' %}
  
  <div id='content' class='clearfix'>
    
    <div class='copy'>
      <h2>Terms of Service</h2>
      
      <p>Welcome to the Projectionable project estimation service (the “Service”), a service of
        {{ company }} (“Projectionable”, “we”, or “us”). Please read these Terms of Service carefully,
        as they contain the legal terms and conditions that govern your use and access of the Service.
        Projectionable reserves the right to update and change the Terms of Service from time to time
        by posting an updated version of such Terms of Service at {{ site_url }}terms no later than
        thirty (30) days prior to the posted effective date of such update. If you continue to use or
        access the Service after the posted effective date, you hereby agree to the updated Terms of
        Service. Unless Projectionable otherwise indicates, your use of any new features, changes,
        and enhancements to the current Service, including the release of new features and resources,
        shall be subject to the Terms of Service.</p>
  
      <p>BY SIGNING UP FOR AN ACCOUNT OR BY USING THE SERVICE, YOU HEREBY ACKNOWLEDGE THAT YOU HAVE READ,
        UNDERSTAND, AND AGREE TO BE BOUND BY THESE TERMS OF SERVICE. THE TERM “YOU” REFERS TO THE
        INDIVIDUAL OR CORPORATE END USER THAT IS SPECIFIED IN THE REGISTRATION INFORMATION ASSOCIATED
        WITH SUCH END USER’S ACCOUNT FOR THE SERVICE.</p>
      
      <h3>Account Terms</h3>
      
      <ol>
        <li>You must provide a valid email address and any other information requested during the
          account signup process in order to obtain an account. You must ensure that all account
          information remains complete and accurate.</li>
        <li>You must be a human. Accounts registered by “bots” or other automated methods are not permitted.</li>
        <li>You are responsible for maintaining the security of your account and password, and are
          responsible for all activities conducted using your account and password. Projectionable cannot
          and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
        <li>You may not use the Service for any illegal or unauthorized purpose. Without limiting the
          foregoing, you may use the Service only in accordance with the use parameters of all free
          services (Free Services”) and specific paid services (“Paid Services”) that you have purchased,
          and you agree not to attempt to circumvent such limitations.</li>
      </ol>
      
      <h3>Payment Terms</h3>
      
      <p>Payments terms have not yet been decided. Projectionable may offer any or all Free Services
        and Paid Services for free until payment terms have been decided. Projectionable reserves the
        right to make any change to the pricing and payment methods of Free Services and Paid Services
        without notice, at any time.</p>
      
      <h3>Cancellation and Termination</h3>
      
      <ol>
        <li>You may terminate your account at any time. Projectionable reserves the right to maintain all
          account information indefinitely proceeding account termination.</li>
        <li>Projectionable, in its sole discretion, has the right to suspend or terminate your account
          and refuse any and all current or future use of the Service, or any other Projectionable service,
          for any reason at any time. Such termination of the Service will result in the suspension or
          deletion of your Account or your access to your Account. Projectionable reserves the right to
          refuse service to anyone for any reason at any time.</li>
      </ol>
      
      <h3>Modifications to the Service and Pricing</h3>
      
      <ol>
        <li>Projectionable reserves the right at any time and from time to time to modify or discontinue,
          temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
        <li>Prices of all Services are subject to change at any time without notice.</li>
        <li>Projectionable shall not be liable to you or to any third party for any modification,
          price change, suspension or discontinuance of the Service.</li>
      </ol>
      
      <h3>Software Licenses, Copyright and Content Ownership</h3>
      
      <p>All software that is furnished to you in connection with
        the Service is provided subject to the terms of a separate end-user license agreement that
        accompanies such software. You agree to abide by the terms of such end-user license agreement
        in your use of such software.</p>

      <p>The Service (including all of its software and technology components), together with all
        intellectual property rights therein, are the exclusive property of New Relic and its suppliers.
        The look and feel of the Service is copyright &copy;2012 {{ company }}. All rights reserved.
        You may not duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements of
        the Service without express written permission from Projectionable. Other trademarks, service marks,
        and trade names that may appear on the Site are the property of their respective owners.</p>
      
      <h3>General Conditions</h3>
      
      <ol>
        <li>Your use of the Service is at your sole risk, and Projectionable makes no representations
          that the Service will guarantee faster client approval of projects or greater revenue or profitability.</li>
        <li>Technical support is not currently provided on any guaranteed basis.</li>
        <li>You understand that Projectionable uses third party vendors and hosting partners to provide
          the necessary hardware, software, networking, and related technology required to run the Service.
          Projectionable is not responsible for any failures attributable to third parties.</li>
        <li>You must not modify, adapt or hack the Service or modify another website so as to falsely
          imply that it is associated with the Service, Projectionable, or any other Projectionable service.</li>
        <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service,
          use of the Service, or access to the Service without the express written permission by Projectionable.</li>
        <li>You understand that the technical processing and transmission of the Service may be
          transferred unencrypted over a network, and assume all risks related thereto. Projectionable
          shall not be liable to you for any liabilities arising from the operation of the Service
          over the Internet or other network.</li>
        <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
      </ol>
      
      <p>THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, AND PROJECTIONABLE EXPRESSLY
        DISCLAIMS ANY WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING
        BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE,
        QUIET ENJOYMENT, ACCURACY, OR NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, PROJECTIONABLE
        DOES NOT WARRANT THAT THE SERVICE WILL MEET YOUR SPECIFIC REQUIREMENTS, THAT THE SERVICE WILL
        BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, THAT THE RESULTS THAT MAY BE OBTAINED FROM THE
        USE OF THE SERVICE WILL BE COMPLETE, ACCURATE, OR RELIABLE, THAT THE QUALITY OF ANY PRODUCTS,
        SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL
        MEET YOUR EXPECTATIONS, OR THAT ANY ERRORS IN THE SERVICE WILL BE CORRECTED.</p>
      
      <h3>Limitation of Liability</h3>
      
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT PROJECTIONABLE SHALL NOT BE LIABLE FOR ANY
        INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED
        TO DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF
        PROJECTIONABLE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), INCLUDING ANY SUCH DAMAGES
        RESULTING FROM THE USE OR THE INABILITY TO USE THE SERVICE; THE COST OF PROCUREMENT OF
        SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED
        OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE;
        UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS OR CONDUCT OF
        ANY THIRD PARTY ON THE SERVICE; TERMINATION OF YOUR ACCOUNT; OR ANY OTHER MATTER RELATING TO THE SERVICE.</p>

      <p>NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, PROJECTIONABLE’S LIABILITY TO YOU
        FOR ANY DAMAGES ARISING FROM OR RELATING TO THE SERVICE (FOR ANY CAUSE WHATSOEVER AND REGARDLESS
        OF THE FORM OF THE ACTION) WILL AT ALL TIMES BE LIMITED TO THE GREATER OF FIFTY U.S. DOLLARS
        (U.S. $50) OR THE AMOUNTS YOU PAID TO PROJECTIONABLE IN THE TWELVE (12) MONTHS IMMEDIATELY
        PRECEDING THE INCIDENT GIVING RISE TO THE CLAIM.</p>
      
      <h3>Miscellaneous</h3>
      
      <p>This Agreement shall be governed by the laws of the State of New York without giving effect
        to any conflicts of laws principles that may require the application of the law of a different
        jurisdiction. For any dispute or proceeding arising from or relating to this Agreement, you
        agree to submit to the jurisdiction of, and agree that venue is proper in, the state courts
        located in Manhattan, New York, and in the federal courts located in the Southern District of
        New York. The failure of Projectionable to exercise or enforce any right or provision of the
        Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service
        constitutes the entire agreement between you and Projectionable and govern your use of the Service,
        superceding any prior agreements between you and Projectionable (including, but not limited to,
        any prior versions of the Terms of Service).</p>
      
    </div>
    
  </div>
  
  {% include 'footer.html' %}
</div>
{% endblock %}