{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block app %}
<div id='projectionable'>
  {% include 'header.html' %}
  
  <div id='content' class='clearfix'>
    
    <div class='proj-form-wrapper clearfix verify-invitation-form'>
      <div class="proj-form">
        <div class='proj-form-head'>
          <h2>Verify Invitation</h2>
        </div>
        <div class='proj-form-body'>
          <div class="alert"><strong></strong><span></span></div>
          <input type='hidden' hidden='hidden' id='account_id' value='{{ account_id }}' />
          <input type="text" id='email' readonly='readonly' value='{{ email }}'/>
          <input type='text' id='code' value='{{ code }}' />
          <input type="password" id='password1' placeholder="New password" />
          <input type="password" id='password2' placeholder="Verify new password" />
          <div class="button-row clearfix">
            <a href='#' class="btn btn-primary verify-invitation-button" data-loading-text="Loading..." autocomplete='off'>Verify Invitation</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  {% include 'footer.html' %}
</div>
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{{ static_url }}js/verify_invitation.js'></script>
{% endblock %}